#section1,
#section2,
#section3,
#facebook_clone,
#chat_app,
#mini_trello,
#awkyo,
#about,
#contact{
	background-size: cover;
}

#section1{
	background-color: #1c1c1c;
}

#facebook_clone {
	background-color: #3A5795;
}

#chat_app {
	background-color: #ce5252;
}
	#chat_app iframe {
		margin-top: 20px;
	}

#mini_trello {
	background-color: #e8af53;
}

#awkyo {
	background-color: #6dd341;
}

#about{
	background-color: black;
}
#contact{
	background-color: silver;
}
.section {
	padding-top: 70px;
	padding-left: 10px;
}